  *{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}  

/* Scroll bar ---------------------------------------------------------------------------------- */

body::-webkit-scrollbar{   
  width: 10px;
} 
body::-webkit-scrollbar-track{
  display:none;
}
body::-webkit-scrollbar-thumb{
  background-color: rgb(3,88,153);
}

/* Section ---------------------------------------------------------------------------------- */

.section1{
  position: relative;
  width:100%;
  height:100vh;
  background-image:url('./images/bg1.jpg');
  background-attachment: fixed;
  background-size:cover;
}
@media(min-width: 960px) and (max-width: 1440px){
  .section1,.section1a{
   height: 100vh;
 }
}
@media(min-width: 720px) and (max-width: 960px){
  .section1,.section1a{
   height: 130vh;
 }
}
@media(min-width:540px) and (max-width: 720px) {
  .section1,.section1a{
   height: 140vh;
 }
}
@media(min-width:0px) and (max-width: 540px) {
  .section1,.section1a{
   height: 185vh;
 }
}
.section1a{
  position: relative;
  width:100%;
  height:100vh;
  background-image: linear-gradient(rgb(9, 57, 94),rgba(3, 88, 153, 0));
}
.section2{
  width: 100%;
  height:auto;
  padding-top: 5%;
  text-align: center;
}
.section2a{
  padding:10px 30px 10px 30px;
  border-radius: 10px;
}
.section2b{
  width: 100%;
  height: 15vh;
}

@media(min-width: 960px) and (max-width: 1440px){
  .section2b{
    height: 15vh;
  }
}
@media(min-width: 720px) and (max-width: 960px){
  .section2b{
    height: 25vh;
  }
}
@media(min-width:540px) and (max-width: 720px) {
  .section2b{
    height: 15vh;
  }
}
@media(min-width:0px) and (max-width: 540px) {
  .section2b{
    height: 55vh;
  }
}


.section4{
  position: relative;
  width: 100%;
  height:90vh;
  background-image:url('./images/bg1.jpg');
  background-attachment: fixed;
  background-size:cover;
}
@media(min-width: 1440px) and (max-width: 2560px){
  .section4,.section4a{
   height: 100vh;
 }
}
@media(min-width: 540px) and (max-width: 1440px){
  .section4,.section4a{
   height: 185vh;
 }
}
@media(min-width:0px) and (max-width: 540px) {
  .section4,.section4a{
   height: 290vh;
 }
}
.section4a{
  background-image: linear-gradient(rgba(12, 83, 137, 0.329),rgba(3, 88, 153, 0));
  width:100%;
  height:95vh;
}