.navbar{
  width: 85%;
  left: 7.5%;
  top: 5%;
  border:0px solid;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
}
.navbar-brand{
  font-weight: 900;
  letter-spacing: 2px;
  color: white !important;
}
.nav-item{
  text-align: center;
  margin: 0px 15px 0px 15px;
  transition: 0.5s;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.nav-item :hover{
  border-bottom: 1px solid white;
}
.navbar-nav a,.offcanvas-body form .btn{
  color: white !important;
}
.form-label,.form-check-label{
  color: black;
  font-weight: 900;
}
.modal-header{
  background-color: rgb(3,88,153);
  text-align: center;
}
.modal-title{
  color: white;
  font-size: 20px;
  font-weight: 900;
}
.modal-body .btn{
  width: 100%;
  background-color: rgb(3,88,153);
}
.modal-footer .btn{
  font-weight: 900;
  width: 100%;
}