.section2 .heading span{
  padding-left: 10px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 900;
}
.section2 .heading p{
  margin-top: 20px;
  padding-left: 10px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 900;
}
.places_delhi .card-body{
  text-align: center;
}
.places_delhi .card{
  box-shadow: 0px 0px 30px 1px rgba(150, 150, 150, 0.5);
  border: none;
  margin: 50px;
}
.places_delhi .card-body .card-title{
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}
.places_delhi .card-body .card-text{
  text-align: justify;
  font-size: 12px;
  font-weight: 900;
}
.places_delhi .btn{
  border: none;
  color: white;
  font-size: 12px;
  font-weight: 900;
  background-color: rgb(3, 153, 116);
}