.section4 .heading{
  color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 2px;
  font-size:35px;
  font-weight: 900;
  transition: 1s;
}
.section4:hover .heading{
  color: rgb(255, 255, 255);
  font-size:55px;
  font-weight: 900;
}
.reviewa .card{
  height: 30rem;
  width: 17rem;
  color:rgb(255, 255, 255);
  transition: .5s;
  text-align: center;
  border:none;
  background-color: rgba(226, 226, 226, 0.438);
  border-radius: 20px;
  transition: 0.6s;
}
.reviewa .card:hover{
  height: 30rem;
  width: 17rem;
  cursor: pointer;
  color: white;
  text-align: center;
  border:none;
  border-radius: 20px;
  background-image: linear-gradient(rgb(3, 88, 153),rgba(3, 118, 153, 0.497));
  box-shadow: 0px 0px 30px 0.1px rgba(137, 137, 137, 0.596);
  
}
.reviewa .card-body .card-title{
  font-size: 15px;
  font-weight: 900;
  transition: 0.2s;
}
.reviewa .card:hover .card-title{
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}
.reviewa .card-body .card-text{
  letter-spacing: -0.5px;
  margin: 0px 50px 0px 50px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  transition: 0.1s;
}
.reviewa .card:hover .card-text{
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}
.card-body img{
  height: 7rem;
  width: 7rem;
  transition: 0.5s;
}
.reviewa .card:hover img{
  height: 6rem;
  width: 6rem;
}